<div class="book-box">
  <div class="listing-item mb-20 book-image">
    <div class="overlay-container">
      <%= image_tag(object.image) unless object.image.blank? %>
      <%= image_tag('no-image.png') if object.image.blank? %>
      <div class="set-top">
        <% animal = Animal.find(object.child_user.icon).name %>
        <%= image_tag(icon(animal), class: "#{icon_style(animal)}", size: "40x40", align: "middle") %>
      </div>
      <p class="bg-warning p-20">
        <small><strong><%= object.child.condition_i18n %></strong></small>
      </p>
    </div>
    <div class="book-info">
      <h3><%= object.title.truncate(15) %></h3>
      <small><%= object.author.truncate(15) %></small>
      <div class="elements-list clearfix">
        <hr>
        <p><%= object.recommend if object.recommend? %></p>
        <%= render 'update', object: object unless @book.status == 3 %>
      </div>
    </div>
  </div>
</div>
