<% content_for :modal do %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">おすすめポイント</h4>
      </div>
      <div class="modal-body">
        <p><%= object.recommend %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="book-box">
  <div class="listing-item mb-20 book-image">
    <div class="overlay-container">
      <%= image_tag(object.image) unless object.image.blank? %>
      <%= image_tag('no-image.png') if object.image.blank? %>
      <div class="set-top">
        <% animal = Animal.find(object.child_user.icon).name %>
        <%= image_tag(icon(animal), class: "#{icon_style(animal)}", size: "40x40", align: "middle") %>
      </div>
      <p class="bg-warning p-20">
        <small><strong><%= object.child.condition_i18n %></strong></small>
      </p>
    </div>

    <div class="book-info">
      <h3><%= object.title.truncate(15) %></h3>
      <small><%= object.author.truncate(15) %></small>
      <div class="elements-list clearfix">
        <% if object.recommend? %>

          <button class="btn btn-gray btn-sm" data-toggle="modal" data-target="#myModal">
  					おすすめポイント
					</button>
        <% end %>
        <%= render 'update', object: object unless @book.status == 3 %>
      </div>
    </div>
  </div>
</div>
