<div class="image-box style-3 mb-20 ">
  <div class="row grid-space-0">
    <% if @negotiates.any? %>
      <% if @book.status != 3 %>
        <% @negotiates.each do |negotiate| %>
          <div class="col-md-3">
            <div class="overlay-container">
              <%= image_tag(negotiate.image, style: "width: 250px; height: 350px;") unless negotiate.image.blank? %>
              <%= image_tag('no-image.png', style: "width: 250px; height: 350px;") if negotiate.image.blank? %>
            </div>
          </div>
          <div class="col-md-9">
            <div class="body">
              <div class="pv-30 visible-lg"></div>
              <h4><%= negotiate.title %></h4>
              <p class="small mb-10"><%= negotiate.author %></p>
              <span class="label label-default">本の状態:<%= negotiate.condition %></span>
              <div class="separator-2"></div>
              <p><%= negotiate.recommend unless negotiate.recommend.blank? %></p>
              <%= render 'update_form', negotiate: negotiate %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>まだ誰から交渉がありません。</p>
    <% end %>
  </div>
</div>
