<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= num %>" aria-expanded="false" class="collapsed">
        <i class="fa <%= style %> pr-10"></i><%= panel_title(num) %>
      </a>
    </h4>
  </div>
  <div id="collapse<%= num %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">
      <%= render 'edit_account' if num == "One" %>
      <%= link_to "住所を登録する", new_user_address_path(current_user), class: "btn btn-default" if num == "Two" %>
      <%= render 'edit_password' if num == "Three" %>
      <%= link_to "退会する", user_path(current_user), class: "btn btn-danger", method: :delete,
        data: { confirm: "これまでの実績や登録内容は削除されますが、本当に退会しますか？" } if num == "Four" %>
    </div>
  </div>
</div>
