<div class="page-wrapper">
	<section class="main-container">
				<div class="container">
					<div class="row">
						<div class="main col-md-6 col-md-push-6">
		        </div>
						<%= render 'shared/sidebar' %>
					</div>
				</div>
			</section>
	<div class="vertical">
    <%= render 'nav' %>
		<div class="mypage-tab tab-content">
			<% flash.each do |type, msg| %>
				<div class="alert alert-<%= type %> alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					<%= msg %>
				</div>
			<% end %>
			<% (1..5).each do |n| %>
				<% if n == 1 %>
					<%= link_to "本を登録する", new_user_book_path(current_user), class: "btn btn-default" %>
					<br>
				<% end %>
				<div class="tab-pane fade <%= active_in(n)%>" id="vtab<%= n %>">
					<%= render partial: 'books/part',
						collection: which_collection(@books, n), as: "object", locals: { link: true } %>
				</div>
			<% end %>
			<div class="tab-pane fade" id="vtab6">
				<div class="panel-group collapse-style-1" id="accordion">
					<%= render 'panel', num: "One", style: "fa-user-plus" %>
					<%= render 'panel', num: "Two", style: "fa-address-card" %>
					<%= render 'panel', num: "Three", style: "fa-key" %>
					<%= render 'panel', num: "Four", style: "fa-close" %>
				</div>
				<% if @addresses.any? %>
				  <div class="separator-2"></div>
					<%= render 'address', addresses: @addresses %>
				<% end %>
			</div>
		</div>
	</div>
</div>
