<div class="page-wrapper">
	<div class="vertical">
    <%= render 'nav' %>
		<div class="mypage-tab tab-content">
			<% (1..5).each do |n| %>
				<% if n == 1 %>
					<%= link_to "本を登録する", new_user_book_path(current_user), class: "btn btn-default" %>
					<br>
				<% end %>
				<div class="tab-pane fade <%= active_in(n)%>" id="vtab<%= n %>">
					<%= render 'book', objects: @books.where(status: n-1), num: n-1 %>
				</div>
			<% end %>
			<div class="tab-pane fade" id="vtab6">
				<div class="panel-group collapse-style-1" id="accordion">
					<%= render 'panel', num: "One", style: "fa-user-plus" %>
					<%= render 'panel', num: "Two", style: "fa-address-card" %>
					<%= render 'panel', num: "Three", style: "fa-key" %>
					<%= render 'panel', num: "Four", style: "fa-close" %>
				</div>
				<% if @addresses.any? %>
				  <div class="separator-2"></div>
					<%= render 'address', addresses: @addresses %>
				<% end %>
			</div>
		</div>
	</div>
</div>
