<h2 class="title text-left">パスワードの再設定</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal text-left" }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group has-feedback">
    <%= f.label :email, class: "col-sm-3 control-label"%>
    <div class="col-sm-8">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
      <i class="fa fa-envelope form-control-feedback"></i>
    </div>
	</div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= button_tag type: "submit", class: "btn btn-group btn-default btn-animated" do %>
        パスワードの再設定を行う<i class="fa fa-check"></i>
      <% end %>
      <p>パスワードを思い出しましたか？<%= link_to new_session_path(resource_name) do %>ログイン<% end %></p>
    </div>
  </div>
<% end %>
