<div class="col-md-4 col-sm-8 col-xs-10 col-md-offset-4 col-sm-offset-2 col-xs-offset-1">
<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal text-left" }, inline_errors: false) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, hide_label: true, placeholder: 'メールアドレス' %>
    <%= f.submit 'パスワードを再設定する' %>
    <br>
  <% end %>
  <p>パスワードを思い出しましたか？<%= link_to new_session_path(resource_name) do %>ログイン<% end %></p>
</div>
