<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form margin-clear" }) do |f| %>
  <div class="form-group has-feedback">
    <%= f.label :username, class: "control-label" %>
    <%= f.text_field :username, autofocus: true, class: "form-control" %>
    <i class="fa fa-user form-control-feedback"></i>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <i class="fa fa-lock form-control-feedback"></i>
  </div>
  <%= f.submit "ログイン", class: "btn btn-gray btn-sm" %>
<% end %>
  <ul class="password-link">
    <li><%= link_to new_user_password_path do %>パスワードを忘れましたか？<% end %></li>
    <li><%= link_to new_user_confirmation_path do %>メールが届きませんか？<% end %></li>
  </ul>
Window size: 1440 x 815
Viewport size: 1440 x 701
