<nav class="navbar navbar-offcanvas" role="navigation" id="js-bootstrap-offcanvas">
  <ul class="list-group">
    <% if user_signed_in? %>
      <div class="user-info">
        <% animal = Animal.find(current_user.icon).name %>
        <%= image_tag(icon(animal), class: "#{icon_style(animal)}", size: "40x40", align: "middle") %>
        <span><%= current_user.username %></span>
      </div>
    <% end %>
    <br>
    <%= active_link_to user_path(current_user), :active => [['users'], ['show']], class: 'list-group-item' do %><i class="fa fa-home pr-10"></i> ホーム<% end %>
    <%= active_link_to deals_path, class: "list-group-item" do %><i class="fa fa-gavel pr-10"></i> 現在の取引<% end %>
    <%= active_link_to new_user_book_path(current_user), class: "list-group-item" do %><i class="fa fa-plus pr-10"></i> 本の登録<% end %>
    <%= active_link_to user_books_path(current_user), :active => [['books'], ['index']], class: 'list-group-item' do %><i class="fa fa-book pr-10"></i> マイブック<% end %>
    <%= active_link_to user_negotiates_path(current_user), class: 'list-group-item' do %><i class="fa fa-handshake-o pr-10"></i> 交渉している取引<% end %>
    <%= active_link_to edit_user_path(current_user), class: 'list-group-item' do %><i class="fa fa-user-circle-o pr-10"></i> プロフィールの編集<% end %>
    <hr>
    <%= active_link_to page_info_path, class: 'list-group-item' do %><i class="fa fa-info-circle pr-10"></i> <span class="logo-font"><%= app_title %>の使い方</span><% end %>
    <%= active_link_to page_contact_path(current_user), class: 'list-group-item' do %><i class="fa fa-commenting pr-10"></i> フィードバック<% end %>
	</ul>
  <p class="logo-font sidebar-logo"><strong>© <%= Time.now.year %> <%= app_title %></strong></p>
</nav>
