<div class="no-padding col-md-3 col-sm-3">
  <nav class="navbar navbar-offcanvas" role="navigation" id="js-bootstrap-offcanvas">
    <ul class="list-group">
      <% if user_signed_in? %>
        <div class="user-info">
          <% animal = Animal.find(current_user.icon).name %>
          <%= image_tag(icon(animal), class: "#{icon_style(animal)}", size: "40x40", align: "middle") %>
          <span><%= current_user.username %></span>
        </div>
      <% end %>
      <form role="search">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" placeholder="Search">
					<i class="fa fa-search form-control-feedback"></i>
				</div>
			</form>
      <li><%= link_to books_path, class: "list-group-item" do %><i class="fa fa-gavel pr-10"></i> 現在の取引<% end %></li>
      <hr>
      <li><%= link_to user_books_path(current_user), class: 'list-group-item' do %><i class="fa fa-bookmark pr-10"></i> マイブック</li><% end %>
      <hr>
      <li><%= link_to user_negotiates_path(current_user), class: 'list-group-item' do %><i class="fa fa-handshake-o pr-10"></i> 交渉している取引</li></li><% end %>
      <hr>
      <li><%= link_to edit_user_path(current_user), class: 'list-group-item' do %><i class="fa fa-user-circle-o pr-10"></i> プロフィール</li><% end %>
  	</ul>
  </nav>
</div>
