<% @books.each do |book| %>
  <%= bootstrap_form_for [current_user, book] do |f| %>
    <div class="col-md-3 col-sm-4 col-xs-6 no-padding">
      <div class="listing-item mb-20 book-image">
        <div class="overlay-container">
          <%= image_tag(book.image) if book.image? %>
          <%= image_tag('no-image.png') unless book.image? %>
        </div>
        <div class="book-info">
          <h3><%= book.title.truncate(15) if book.title? %></h3>
          <% if book.author? %>
          <small><%= book.author.truncate(15) %></small>
          <% else %>
          <small>No Author</small>
          <% end %>
          <hr>
          <div class="elements-list clearfix">
            <div class="new-book col-md-12">
              <%= f.hidden_field :image, value: book.image %>
              <%= f.hidden_field :title, value: book.title %>
              <%= f.hidden_field :author, value: book.author %>
              <%= f.select :condition, Book.conditions_i18n.invert, prompt: '本のコンディションを選択', hide_label: true %>
              <%= f.submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
