<div class="book-box">
  <div class="listing-item mb-20 book-image">
    <div class="overlay-container">
      <%= image_tag(object.image, style: "width: 250px; height: 350px;") unless object.image.blank? %>
      <%= image_tag('no-image.png', style: "width: 250px; height: 350px;") if object.image.blank? %>
      <div class="set-top">
        <% animal = Animal.find(object.user.icon).name %>
        <%= image_tag(icon(animal), class: "#{icon_style(animal)}", size: "40x40", align: "middle") if current_user.not_mine?(object) %>
      </div>
    </div>
    <div class="book-info">
      <h3><%= object.title.truncate(15) %></h3>
      <small><%= object.author.truncate(15) %></small>
      <hr />
      <div class="elements-list clearfix">
        <%= render 'books/update_form', object: object, num: 1 if num == 0 %>
        <%= render 'books/link', object: object, other: current_user.children.find_by(parent_id: object.id), num: num %>
        <div class="book-bottom"><%= have_no_book(object) %></div>
        <div class="book-bottom"><%= finish_eval(object, num) %></div>
      </div>
    </div>
  </div>
</div>
