<%= render 'search', search: @search if @books.any? %>
<% @books.each do |book| %>
  <div class="listing-item mb-20 book-image">
    <div class="col-md-4 col-sm-6 col-xs-6 item-detail">
      <div class="elements-list clearfix">
        <% if book.wishes.where(reject: false).any? %>
          <%= render 'shared/modal/wish_user', book: book %>
          <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#wish-user-<%= book.id %>"><%= book.wishes.where(reject: false).count %>人がほしいな！しています</button>
        <% else %>
          <div class="alert alert-warning text-center">ほしいな！はありません</div>
        <% end %>
      </div>
      <div class="overlay-container">
        <% if book.image.blank? %>
        <%= image_tag('no-image.png') %>
          <div class="book-info">
            <p class="title"><%= book.title.truncate(15) %></p>
            <p class="author"><%= book.author.truncate(15) %></p>
          </div>
        <% else %>
          <%= image_tag(book.image) %>
        <% end %>
        <p class="bg-warning p-20">
          <small><strong><%= book.condition_i18n %></strong></small>
        </p>
      </div>
    </div>
  </div>
<% end %>
