<div class='row'>
  <div class="form-group" id="search-box">
    <!-- アマゾン書籍検索 -->
    <%= form_tag({ controller: :books, action: :new }, method: :get) do %>
      <%= text_field_tag :book, "", class: "form-control", id: "book_search", name: "keyword", placeholder: "本のタイトル,著者名あるいはISBNコードを入力してください" %>
      <button class="btn btn-info" title="検索" type="submit">検索</button>
    <% end %>
  </div>
</div>
<!-- 検索結果一覧表示 -->
<% @books.each do |book| %>
  <%= bootstrap_form_for [current_user, book] do |f| %>
    <div class="listing-item mb-20 book-image">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="overlay-container">
          <% if book.image.blank? %>
          <%= image_tag('no-image.png') %>
            <div class="book-info">
              <p class="title"><%= book.title.truncate(15) %></p>
              <p class="author"><%= book.author? ? book.author.truncate(15) : "No Author" %></p>
            </div>
          <% else %>
            <%= image_tag(book.image) %>
          <% end %>
        </div>
        <div class="elements-list clearfix">
          <div class="book-form">
            <%= f.hidden_field :image, value: book.image %>
            <%= f.hidden_field :title, value: book.title %>
            <% if book.author? %>
              <%= f.hidden_field :author, value: book.author %>
            <% else %>
              <%= f.hidden_field :author, value: "No Author" %>
            <% end %>
            <%= f.select :condition, Book.conditions_i18n.invert, prompt: '本のコンディションを選択', hide_label: true %>
            <%= f.submit %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
