<%= bootstrap_form_for [current_user, current_user.evaluators.build] do |f| %>
  <div class="col-md-4">
    <%= f.hidden_field :evaluatee_id, value: evaluatee.id %>
    <%= f.select :level, Eval.levels_i18n.invert %>
    <%= f.fields_for object do |af| %>
      <%= f.hidden_field :status, value: num %>
    <% end %>
    <%= f.submit "取引相手を評価する", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
