<%= render 'search', search: @search if @items.any? %>
<% @items.each do |item| %>
  <!-- ユーザのほしいものリスト表示用 -->
  <% content_for :modal do %>
    <% user = item.user %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">このユーザのほしいものリスト</h4>
          </div>
          <div class="modal-body">
            <% if user.wish_lists.any? %>
              <% user.wish_lists.each do |wish_list| %>
                <div class="wish-list-info">
                  <% if wish_list.image.blank? %>
                    <%= image_tag('no-image.png') %>
                  <% else %>
                    <%= image_tag(wish_list.image) %>
                  <% end %>
                  <span><%= wish_list.title %></span>
                  <span><%= wish_list.author %></span>
                </div>
              <% end %>
            <% else %>
              <div class="alert alert-warning text-center">このユーザはほしいものリストを登録していません</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="listing-item mb-20 book-image">
    <div class="col-md-4 col-sm-6 col-xs-6 item-detail">
      <div class="elements-list clearfix">
        <% if current_user.already_reject_wish(item) %>
          <div class="alert alert-danger text-center">お断りされました</div>
        <% elsif wish = current_user.already_wish(item) %>
          <% if reply = wish.replies.find_by(status: 0) %>
            <% content_for :modal do %>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">これがいいな！されています</h4>
                    </div>
                    <div class="modal-body">
                      <% book = reply.book %>
                      <div class="book-image">
                        <div class="overlay-container">
                          <% if book.image.blank? %>
                            <%= image_tag('no-image.png', class: 'reply-img') %>
                            <div class="book-info">
                              <p class="title"><%= book.title.truncate(15) %></p>
                              <p class="author"><%= book.author.truncate(15) %></p>
                            </div>
                          <% else %>
                            <%= image_tag(book.image, class: 'reply-img') %>
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 right">
                          <% if wish.replies.find_by(status: 1) %>
                            <button type="submit" class="btn btn-danger" disabled="">やめて！</button>
                          <% else %>
                            <%= bootstrap_form_for(reply) do |f| %>
                              <%= f.hidden_field :status, value: 1 %>
                              <%= f.submit 'やめて！', data: { confirm: 'やめて！を選択してもよろしいですか？' }, class: 'btn btn-danger' %>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="col-md-6 left">
                          <%= bootstrap_form_for(reply) do |f| %>
                            <%= f.hidden_field :status, value: 2 %>
                            <%= f.submit 'いいよ！', data: { confirm: 'いいよ！を選択してもよろしいですか？' }, class: 'btn btn-primary' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">お返しをもらっています</button>
          <% elsif wish.replies.find_by(status: 1) %>
            <div class="alert alert-success text-center">これがいいな！を断りました</div>
          <% else %>
            <%= link_to 'ほしいな！を取り消す', wish_path(wish), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        <% else %>
          <%= bootstrap_form_for [item, @wish], inline_errors: false do |f| %>
            <%= f.hidden_field :book_id, value: item.id %>
            <%= f.submit 'ほしいな！', class: 'btn btn-primary btn-sm', data: { confirm: "ほしいな！してもよろしいですか？" } %>
          <% end %>
        <% end %>
      </div>
      <div class="overlay-container">
        <% if item.image.blank? %>
          <%= image_tag('no-image.png') %>
          <div class="book-info">
            <p class="title"><%= item.title.truncate(15) %></p>
            <p class="author"><%= item.author.truncate(15) %></p>
          </div>
        <% else %>
          <%= image_tag(item.image) %>
        <% end %>
        <div class="set-top">
          <% animal = Animal.find(item.user.icon).name %>
          <%= image_tag(icon(animal), class: "#{icon_style(animal)}", align: "middle") if current_user.not_mine?(item) %>
        </div>
        <div class="set-bottom">
          <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">このユーザの<br>ほしいものリスト</button>
        </div>
        <p class="bg-warning p-20">
          <small><strong><%= item.condition_i18n %></strong></small>
        </p>
      </div>
    </div>
  </div>
<% end %>
