<%= render 'search', search: @search if @items.any? %>
<% @items.each do |item| %>
  <div class="listing-item mb-20 book-image">
    <div class="col-md-4 col-sm-6 col-xs-6 item-detail">
      <div class="elements-list clearfix">
        <% if current_user.already_reject_wish(item) %>
          <div class="alert alert-danger text-center">お断りされました</div>
        <% elsif wish = current_user.already_wish(item) %>
          <% if reply = wish.replies.find_by(status: 0) %>
            <%= render 'shared/modal/reply_modal', wish: wish, reply: reply %>
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#replyModal">お返しをもらっています</button>
          <% elsif wish.replies.find_by(status: 2) %>
            <%= link_to book_trade_path(book) %>
          <% elsif wish.replies.find_by(status: 1) %>
            <div class="alert alert-success text-center">これがいいな！を断りました</div>
          <% else %>
            <%= link_to 'ほしいな！を取り消す', wish_path(wish), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        <% else %>
          <%= render 'shared/modal/wish_list_modal', item: item %>
          <%= render 'wishes/form/create_form', item: item %>
        <% end %>
      </div>
      <div class="overlay-container">
        <% if item.image.blank? %>
          <%= image_tag('no-image.png') %>
          <div class="book-info">
            <p class="title"><%= item.title.truncate(15) %></p>
            <p class="author"><%= item.author.truncate(15) %></p>
          </div>
        <% else %>
          <%= image_tag(item.image) %>
        <% end %>
        <div class="set-top">
          <% animal = Animal.find(item.user.icon).name %>
          <%= image_tag(icon(animal), class: "#{icon_style(animal)}", align: "middle") if current_user.not_mine?(item) %>
        </div>
        <% unless current_user.already_wish(item) %>
          <div class="set-bottom">
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#wish-listModal">このユーザの<br>ほしいものリスト</button>
          </div>
        <% end %>
        <p class="bg-warning p-20">
          <small><strong><%= item.condition_i18n %></strong></small>
        </p>
      </div>
    </div>
  </div>
<% end %>
