<% content_for :modal do %>
  <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">これがいいな！されています</h4>
        </div>
        <div class="modal-body">
          <% book = reply.book %>
          <div class="book-image">
            <div class="overlay-container">
              <% if book.image.blank? %>
                <%= image_tag('no-image.png', class: 'reply-img') %>
                <div class="book-info">
                  <p class="title"><%= book.title.truncate(15) %></p>
                  <p class="author"><%= book.author.truncate(15) %></p>
                </div>
              <% else %>
                <%= image_tag(book.image, class: 'reply-img') %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 right">
              <% if wish.replies.find_by(status: 1) %>
                <button type="submit" class="btn btn-danger" disabled="">やめて！</button>
              <% else %>
                <%= bootstrap_form_for(reply) do |f| %>
                  <%= f.hidden_field :status, value: 1 %>
                  <%= f.submit 'やめて！', data: { confirm: 'やめて！を選択してもよろしいですか？' }, class: 'btn btn-danger' %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-6 left">
              <% if wish.replies.find_by(status: 1) %>
                <%= bootstrap_form_for(reply) do |f| %>
                  <%= f.hidden_field :status, value: 2 %>
                  <%= f.submit 'いいよ！', class: 'btn btn-primary' %>
                <% end %>
              <% else %>
                <%= bootstrap_form_for(reply) do |f| %>
                  <%= f.hidden_field :status, value: 2 %>
                  <%= f.submit 'いいよ！', data: { confirm: 'いいよ！を選択してもよろしいですか？' }, class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
