<% step = Step.find(num-2) %>
<% if parent.status > num && child.status > num %>
  <p><%= step.one %></p>
  <p><%= step_content(num) %></p>
<% elsif current_user == parent_or_child(parent, child).user && parent_or_child(parent, child).status > num %>
  <p><%= step.two %></p>
  <p><%= step_content(num) if num == 7 %></p>
<% else %>
  <p>- <%= step.three %></p>
  <p><%= step.four %></p>
<% end %>
<% unless parent_or_child(parent, child).status > num %>
  <%= render 'books/update', object: parent_or_child(parent, child), num: num + 1 unless num == 4 || num == 7 %>
  <%= render 'trades/address_form', object: parent_or_child(parent, child), num: num + 1 if num == 4 %>
  <%= render 'evals/form', evaluatee: get_evaluatee(parent, child),
    object: parent_or_child(parent, child), num: num + 1 if num == 7 %>
<% end %>
