<% step = Step.find(num-2) %>
<% if parent.status > num && child.status > num %>
  <p>お互いが<%= step.title %>を<%= step.done %>ました！</p>
  <p><%= step_content(num) %></p>
<% elsif current_user == parent_or_child(parent, child).user && parent_or_child(parent, child).status > num %>
  <p>相手方が<%= step.title %>を<%= step.to_do %>までしばらくお待ちください。</p>
<% else %>
  <p>- <%= step.main %></p>
  <p><%= step.sub %></p>
<% end %>
<% unless parent_or_child(parent, child).status > num %>
  <%= render 'books/update_form', object: parent_or_child(parent, child), num: num + 1 %>
<% end %>
