<div class="main col-md-12">
  <div class="process">
    <%= render 'nav', parent_status: @negotiate.parent_status, child_status: @negotiate.child_status %>
		<div class="tab-content clear-style">
      <% (3..7).each do |n| %>
  			<div class="tab-pane <%= set_active(@negotiate, n) %>" id="pill-pr-<%= n-2 %>">
          <%= render 'send_address', address: set_address(current_user, @negotiate) if @negotiate.parent_status == 5 || @negotiate.child_status == 5 %>
          <%= render 'step', parent: @negotiate.parent, child: @negotiate.child, num: n %>
  			</div>
      <% end %>
    </div>
	</div>
</div>
